<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soo.lim.dao.ProductDao">

  <!-- 컬럼 이름과 자바 객체의 프로퍼티 이름을 연결한다. -->
  <resultMap type="Product" id="ProductMap">
    <id column="product_no" property="productNo"/>
    <result column="product_name" property="productName"/>
    <result column="product_price" property="productPrice"/>
    <result column="product_detail" property="productDetail"/>
    <result column="category" property="category"/>
    <collection resultMap="ProductPhotoMap" property="productPhoto" />
  </resultMap>
  
  <resultMap type="ProductPhoto" id="ProductPhotoMap">
    <id column="product_photo_no" property="productPhotoNo"/>
    <result column="product_no" property="productNo"/>
    <result column="file_path" property="filePath"/>
  </resultMap>


<select id="findAll" resultMap="ProductMap">
select p.*, cc.code_name, photo.file_path
from comm_code cc
	inner join product p
	on p.category = cc.code_id
	inner join product_photo photo
	on p.product_no = photo.product_no
where cc.groupcode_id = "M001";
</select>

<select id="findCodeName" parameterType="String" resultMap="ProductMap">
select cc.code_namexx	
from comm_code cc
	inner join product p
	on p.category = cc.code_id
where cc.groupcode_id = "M001";
</select>

<select id="findBy" parameterType="int" resultMap="ProductMap">
  select *
  from product
  where product_no=#{value}
</select>

</mapper>