@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|PT+Serif');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
}

img {vertical-align: middle;}

a {
    color: #3c3d48;
    text-decoration: none;
}

/*--------------------------------- 전체 초기화 --------------------------------------------------*/

#main-header {
    width: inherit;
    height: 169px;
    background: #fff;
    overflow: hidden;
}

#top-contents-box {
    width: inherit;
    height: 101px;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
}

.top-contents {
    width: 1200px;
    height: 101px;

    margin: 0 auto;
    position: relative;
}

.support {
    top: 29px;
    left: 130px;
    position: absolute;
}

.support-tel {
    font-size: 11px;
    letter-spacing: 0.2em;
    margin-left: 5px;
}

#main-header h2 {
    top: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.top-menu {
    top: 36px;
    right: 126px;
    position: absolute;
    font-size: 11px;
}

.top-menu li {
    float: left;
    margin-right: 27px;
}

.top-menu li:nth-child(4) {
    margin-right: 0;
}

.lang-setting, .currency {
    padding-right: 5px;
}

.purchase-list > img {
    display: inline-block;
    padding-right: 8px;
}

.user-logIn {
    font-size: 10px;
    letter-spacing: 0.2em;
    color: #5b5d69;
    padding-left: 10px;
}

/*---------------------------------상단 첫번째 부분 --------------------------------------------------*/

.main-menu {
    width: 1200px;
    height: 68px;
    margin: 0 auto;
}

.main-menu ul {
    height: inherit;
    margin-left: 130px;
    position: relative;
}

.main-menu li {
    float: left;
    padding: 24px 0;
    margin-right: 32px;
}

.main-menu li a {
    text-align: center;
    display: inline-block;
    font-size: 11px;
    padding-right: 3px;
    letter-spacing: 0.2em;
}

.megamenu:hover {
    border: 1px solid green;
}

/*---------------------------------상단 두번째 부분 --------------------------------------------------*/
